<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @list.position %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @list.background_color %>
</p>

<p>
  <strong>Image:</strong>
  <%= @list.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @list.status %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @list.slug %>
</p>

<p>
  <strong>Board:</strong>
  <%= @list.board %>
</p>

<%= link_to 'Edit', list_path(@list) %> |
