<div class="boards-page-board-section">
  <h1 class="navbar-brand">Boards</h1>
  <div class="boards-page-board-section-list">

    <% @boards.each do |board| %>
    <div class="card boards-page-board-section-list-item shadow hvr-rotate">
      <div class="card-header" style="background-color: <%= board.background_color %>;"></div>
      <div class="card-body" onclick="location.href='/boards/<%= board.slug %>';" style="cursor: pointer;">
        <h3 class="card-title"><%= board.name %></h3>
        <h6 class="card-subtitle mb-2 text-muted text-right">Created <%= time_ago_in_words(board.created_at) %></h6>
      </div>
      <div class="card-footer text-right">
        <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_board_path(board), class: "card-board-link" %>
        <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, board, class: "card-board-link", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>

  </div>
</div>
