<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @board.background_color %>
</p>

<p>
  <strong>Background image:</strong>
  <%= @board.background_image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @board.status %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

<hr>

<% if can?(:crud, @board) %>
  <%= simple_form_for([@board, @list], :html => { :class => 'form-inline' }) do |form| %>
    <%= form.input :title, label: false %>
    <%= form.submit 'Add list' %>
  <% end %>
<% end %>

<h3>Lists</h3>

<% @lists.each do |list| %>
  <p><%= list.title %> -
    <% if can?(:crud, @board) %>
      <%= link_to 'Destroy', list_path(list) , method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %>
    <% end %>
  </p>
<% end %>
