<!DOCTYPE html>
<html>
  <head>
    <title>[Rails] Get a Job</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%=
      tag.div(
        id: "Navigation"
      )
    %>
    <%= yield %>
  </body>
</html>
