<!DOCTYPE html>
<html>
  <head>
    <title>[Rails] Get a Job</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light space">
      <div class="container">
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo.png', style: 'height: 50px;' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'People', people_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Boards', boards_path, :class => "nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag 'avatar.png', class: 'profile-photo', alt: current_user.email %>
              <strong><%= current_user.id %> - <%= current_user.email %></strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to('Sign Out', destroy_user_session_path, method: :delete, :class => "dropdown-item", data: {confirm: 'Do you really want to sign out?'}) %>
            </div>
          </li>
          <% else %>
            <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, :class => "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Login', new_user_session_path, :class => "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    </nav>
    <div class="container">
      <% if flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% if flash[:notice].present? %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
